.idea/
.vs/
.vscode/
out/
cmake-build-debug/
cmake-build-release/
cmake-build-local/
output/
dist/
.DS_Store
__pycache__/
lib_location.txt
version_number.txt
dearcygui.egg-info/
build/
# Ignore only subdirectories
sandbox/*/
src/CMakeFiles/
thirdparty/CMakeFiles/
thirdparty/Makefile
thirdparty/cmake_install.cmake

#ignore build files
build_FT/
build_SDL/
Small_Input_Demo.py
SOURCES.txt


mark2epub.py
epub/

